* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* padding e bordas não vai atrapalhar no tamanho dos elementos */
    font-family: 'Courier New', Courier, monospace;
}

body {
    
    background-image: url('image.png'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Faz com que a imagem cubra todo o fundo */
}



body, html {
    height: 100%; /* altura total para o body e html */
}

.multiplicar {
    background-color: #00000088; 
    padding: 40px; 
    border-radius: 10px; 
    text-align: center; /* centraliza o texto */
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    width: 50%; /* largura */
    margin: auto; /* Centraliza horizontalmente e verticalmente */
    height: auto; /*  altura automática */
    min-height: 300px; /*  altura mínima para o quadro */
    position: relative;
    top: 50%;
    transform: translateY(-50%); /* Centraliza verticalmente (Isso aqui é chat não sabia o que fazer com isso) */
}

h1, h2 {
    color: aliceblue;
    margin-bottom: 20px; /*  espaço entre os títulos */
}

input {
    margin-bottom: 20px; /* Espaço entre os inputs */
    width: 80%; /* Ajuste a largura do input para ocupar melhor o espaço */
    padding: 10px;
}

label{
    color: aliceblue;
}

button {
    width: 100px;
    height: 50px;  
    margin-top: 20px; /* Espaço acima do botão */
}

p{
    padding: 10px;
    color: aliceblue;
}
